@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap");

/* @font-face {
    font-family: 'Norican';
    src: url(../fonts/Norican/Norican-Regular.otf);
    src: url(../fonts/Norican/Norican-Regular.ttf) format("truetype");
} */

#menu {
    font-family: "Rubik", sans-serif;
}

.theme-color {
    color: rgba(59, 130, 246, 0.5) !important;
}
.theme-bg {
    background-color: rgba(59, 131, 246, 0.986) !important;
}

/* .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} */

