<section class="text-gray-600 body-font">
    <div class="container px-5 py-12 mx-auto">
        <div class="flex flex-wrap -m-4">
            <div class="p-4 md:w-1/4">
                <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
                    <div class="flex items-center mb-3">
                        <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-green-500 text-white flex-shrink-0">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                        </svg>
                        </div>
                        <h2 class="text-gray-900 text-lg title-font font-medium">MOBILANPASSNING</h2>
                    </div>
                    <div class="flex-grow">
                        <p class="leading-relaxed text-base">Fler använder sig av mobila
                            enheter för att surfa på
                            webben. Det har medfört
                            ett ökat intresse kring
                            mobilanpassade hemsidor.
                            <br> <strong>Responsive design är lösningen.</strong></p>
                        <a class="mt-3 text-green-600 inline-flex items-center">RESPONSIVE DESIGN
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="p-4 md:w-1/4">
                <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
                    <div class="flex items-center mb-3">
                        <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-green-500 text-white flex-shrink-0">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                        </svg>
                        </div>
                        <h2 class="text-gray-900 text-lg title-font font-medium">SPONSRADE LÄNKAR</h2>
                    </div>
                    <div class="flex-grow">
                        <p class="leading-relaxed text-base">Hittar kunderna din webbplats
                            när de söker på internet?
                            Med sponsrade länkar syns
                            du i sökmotorerna och
                            ökar din försäljning.
                            <br> <strong>Prova helt gratis!</strong></p>
                        <a class="mt-3 text-green-600 inline-flex items-center">SPONSRADE LÄNKAR
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="p-4 md:w-1/4">
                <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
                <div class="flex items-center mb-3">
                    <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-green-500 text-white flex-shrink-0">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                    </div>
                    <h2 class="text-gray-900 text-lg title-font font-medium">ÖPPEN KÄLLKOD</h2>
                </div>
                <div class="flex-grow">
                    <p class="leading-relaxed text-base"><strong>Slipp dyra licensavgifter!</strong> <br>
                        Vi arbetar bara med publiceringsverktyg baserad på öppen källkod. Det garanterar frihet och lägre utvecklingskostnader.</p>
                    <a class="mt-3 text-green-600 inline-flex items-center">ÖPPEN KÄLLKOD
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                    </a>
                </div>
                </div>
            </div>
            <div class="p-4 md:w-1/4">
                <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
                <div class="flex items-center mb-3">
                    <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-green-500 text-white flex-shrink-0">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <circle cx="6" cy="6" r="3"></circle>
                        <circle cx="6" cy="18" r="3"></circle>
                        <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
                    </svg>
                    </div>
                    <h2 class="text-gray-900 text-lg title-font font-medium">SUPPORT</h2>
                </div>
                <div class="flex-grow">
                    <p class="leading-relaxed text-base"><strong>Behöver du hjälp?</strong> Vi är experter på WordPress, Joomla och Magento och självklart erbjuder vi support. Oavsett om vi har byggt din hemsida eller inte. Hos oss är du alltid välkommen!
                        .</p>
                    <a class="mt-3 text-green-600 inline-flex items-center">SUPPORT
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
