<footer class="text-white body-font bg-gray-900">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap md:text-left text-center order-first">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-medium text-white tracking-widest text-md mb-3">VI HJÄLPER DIG TILL FRAMGÅNG</h2>
            <nav class="list-none mb-10">
                <div class="textwidget"><p>Vi vet att det krävs mer än en snygg hemsida för att lyckas på nätet. Därför erbjuder vi 
                    även tjänster inom digitala strategier och <a href="/internetmarknadsforing/" class="text-green-600">internetmarknadsföring</a>. <br><br> </p>
                    <p>Som kund innebär det att du kan ha alla tjänster hos en och samma leverantör, något som vi vet uppskattas av våra kunder.</p>
                </div>
            </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-medium text-white tracking-widest text-md mb-3">FRÅN TWITTER</h2>
            <nav class="list-none mb-10">
                <ul>
                    <li>
                        RT <a href="http://twitter.com/anderskristo" class="text-green-600">@anderskristo</a>: Magento lightbox extension <a href="http://t.co/Br4h2nyQvO" class="text-green-600">http://t.co/Br4h2nyQvO</a> 
                        <a href="http://twitter.com/#!/search?q=%23magento" class="text-green-600">#magento</a> 
                        <a href="http://twitter.com/#!/search?q=%23magentoconnect" class=" text-green-600">#magentoconnect</a> 
                        <a href="http://twitter.com/#!/search?q=%23shop" class="text-green-600">#shop</a> 
                        <a href="http://twitter.com/#!/search?q=%23ecommerce" class="text-green-600">#ecommerce</a> 
                        <a href="http://twitter.com/#!/search?q=%23lightbox" class="text-green-600">#lightbox</a> 
                        <a href="http://twitter.com/mediastrategi/status/568055609846849536" class="text-green-600">→</a>
                    </li>
                    <li>Nu fungerar samtliga servrar igen! <a href="http://twitter.com/mediastrategi/status/445907351527510016" class=" text-green-600">→</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-medium text-white tracking-widest text-md mb-3">FRÅN BLOGGEN</h2>
            <nav class="list-none mb-10">
                <ul>
                    <li>
                        <a class="text-green-600" href="https://www.mediastrategi.se/wordpress/unifaun-online-till-woocommerce/">Unifaun Online till WooCommerce</a> 
                        <span>-</span> 
                        <span>Nu lanserar vi Unifaun Online-pluginet även till WooCommerce. Pluginet gör… 
                            <span> …</span>
                        </span>
                    </li>
                    <li>
                        <a class="text-green-600" href="https://www.mediastrategi.se/nyheter/unifaun-deliverycheckout-fraktkassa-till-woocommerce/">UNIFAUN DELIVERYCHECKOUT (FRAKTKASSA) TILL WooCommerce</a> 
                        <span>-</span> 
                        <span>Nu finns även ett plugin för&nbsp;Unifaun DeliveryCheckout&nbsp;till WooCommerce. Bland funktionerna… 
                            <span> …</span>
                        </span>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-medium text-white tracking-widest text-md mb-3">KONTAKTA OSS</h2>
            <div>
                <p>Mediastrategi Sverige AB<br>
                    Köpmangatan 1B, 1 tr<br>
                    722 15, Västerås (<a class="text-green-600" href="/kontakt/">karta</a>)
                </p>
                <p>Tel: 021-470 88 30<br>
                    <a class="text-green-600" href="mailto:kontakt@mediastrategi.se">kontakt@mediastrategi.se</a>
                </p>
            </div>
            <span class="inline-flex sm:ml-auto sm:mt-5 mt-4 justify-center sm:justify-start text-green-600">
                <a class="">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
                </a>
                <a class="ml-3 ">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
                </a>
                <a class="ml-3 ">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                </svg>
                </a>
                <a class="ml-3 ">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                    <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                </svg>
                </a>
            </span>
        </div>
        </div>
    </div>
    <div class="bg-gray-800">
        <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
            <img class="hidden lg:block h-8 w-auto" src="https://tailwindcss.com/_next/static/media/tailwindcss-mark.cb8046c163f77190406dfbf4dec89848.svg" alt="Workflow">
            <span class="ml-3 text-xl">Mediastrategi</span>
        </a>
        <p class="text-md  sm:ml-6 sm:mt-0 mt-4">Copyright © Mediastrategi Sverige AB 2021</p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a class="">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
            </a>
            <a class="ml-3 ">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
            </a>
            <a class="ml-3 ">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
            </a>
            <a class="ml-3 ">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
            </a>
        </span>
        </div>
    </div>
</footer>