<div class="bg-gray-800">
    <div class="max-w-7xl mx-auto ">
        <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg rounded">
            <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
                <div class="w-full sm:px-4 relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
                <a class="text-xl font-bold leading-relaxed inline-block mb-1 py-2 whitespace-no-wrap uppercase text-green-600" href="#pablo">
                    MS
                </a>
                <button type="button" id="navToggler" class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-green-600 text-white block lg:hidden outline-none focus:outline-none" aria-controls="mobile-menu" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                    <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
                </div>
                <div class="flex lg:flex-grow " id="menu">
                    <ul class="flex flex-col lg:flex-row list-none ">
                        {{ range .Site.Menus.main }}
                        <li class="nav-item py-2 lg:py-0" id="menu-li">
                            <a href="{{ .URL }}" class="lg:inline-flex lg:w-auto w-full sm:px-3 py-2 rounded text-gray-100 items-center justify-center hover:bg-gray-900 hover:text-white">
                                {{ if .Pre }}
                                {{ end }}
                                {{ $text := print .Name | safeHTML }}
                                {{ $text }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <button class="bg-gray-800 text-green-600 p-1 rounded-full text-white hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white hidden lg:block">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                    </svg>
                </button>
                <button class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white hidden lg:block" id="user-menu" aria-haspopup="true">
                    <i class="fas fa-user fa-2x text-green-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"></i>
                </button>                
            </div>
        </nav>
    </div>
</div>

